git+https://github.com/pcdshub/QDarkStyleSheet.git
git+https://github.com/tacaswell/typhon.git@dev_use_requirements
git+https://github.com/slaclab/pydm.git
git+https://github.com/tacaswell/caproto.git@fix_alarm_subscriptions
git+https://github.com/tacaswell/timechart.git@fix_future_pydm
jinja2
numpy
ophyd
prettytable
pyqtgraph
qtawesome
qtconsole
qtpy
simplejson
ipython
matplotlib
bluesky
netifaces
asks
curio
trio
pyqt5
databroker
pymongo
