git+https://github.com/pcdshub/QDarkStyleSheet.git
git+https://github.com/pcdshub/happi.git
git+https://github.com/pcdshub/typhon.git
git+https://github.com/slaclab/pydm.git
git+https://github.com/tacaswell/caproto.git@fix_alarm_subscriptions
git+https://github.com/tacaswell/timechart.git@fix_future_pydm
jinja2
numpy
ophyd
prettytable
pyqtgraph
qtawesome
qtconsole
qtpy
simplejson
ipython
matplotlib
bluesky
netifaces
asks
curio
trio
pyqt5
